#####coompelete RC

In [1]:
import pytesseract
import re
import cv2
img = cv2.imread('OCR-master/RC/txt_mudit_b8_1_513.jpg')
text = pytesseract.image_to_string(img)
print(text)

nn

REGN . NO : DL2CAM0993

~ OSNo : O1
' REG. DT: 73/70/2010 MFGCD : HYU
CH._NO : MALBBS1BLAM2176S7 COLOUR : (CR. WHITE
ENO > G4LAAMA4SSOSS CLASS : LMYV.
NAME  : MR. KAMAL BHOLA

SAWID OF : SiO SH. J.C. BHOLA
ADDRESS: §5B, AB BLOCK, IIND FLOOR,

ESH NAGAR,
DELHI 440015
MODEL | i20 Sportz Registering Authority
BODY © : SALOON NO.OFCYL : 4 | P Depot
WHEEL BASE : 0 UNLADEN WT : 1066 4
MFG.DT. - 9872010 SEATINGC : 5 ev X=

FUEL > PETROL STANDING C _ en 7
REGUPTO = 1210/2025 © CAP cela

In [2]:
type(text)

str

In [3]:
dicc={"Registration_no":"Not Found","Engine_no":"Not Found","Chasis_no":"Not Found","Register_date":"Not Found","Name":"Not Found","Manufacturing Date":"Not Found"}

In [4]:
final_data1 = []

In [9]:
###engine numer
if re.findall(r'\b([A-Z0-9]{5}[0-9]{7})\b',text):
    dicc['Engine_no'] =re.findall(r'\b([A-Z0-9]{5}[0-9]{7})\b',text)
elif re.findall(r'\b([A-Z0-9]{5}[0-9]{6,7})\b',text):
    dicc['Engine_no']=re.findall(r'\b([A-Z0-9]{5}[0-9]{6,7})\b',text)
elif re.findall(r'\b([A-Z0-9]{6}[0-9]{6})\b',text):
    dicc['Engine_no']=re.findall(r'\b([A-Z0-9]{6}[0-9]{6})\b',text)
elif re.findall(r'[A-Z][0-9]\w{3,4}\s?\d{5,6}',text):
    dicc['Engine_no']=re.findall(r'[A-Z][0-9]\w{3,4}\s?\d{5,6}',text)
elif re.findall(r'\b([0-9]{7,9})\b',text):
    dicc['Engine_no']=re.findall(r'\b([0-9]{7,9})\b',text)
#####Registration number
if re.findall(r'\b([A-Z]{2}[0-9A-Z]{4}[0-9]{4})\b',text):
    dicc["Registration_no"]=re.findall(r'\b([A-Z]{2}[0-9A-Z]{4}[0-9]{4})\b',text)
elif re.findall(r'\b([A-Z]{2}[0-9A-Z]{3}[\s][0-9]{4}|[A-Z]{1}[0-9A-Z]{4,5}[\s][0-9]{4})\b',text):
    dicc["Registration_no"]=re.findall(r'\b([A-Z]{2}[0-9A-Z]{3}[\s][0-9]{4}|[A-Z]{1}[0-9A-Z]{4,5}[\s][0-9]{4})\b',text)
elif re.findall(r'\b([A-Z]{2}[0-9A-Z]{2}[-][A-Z]{1}[-][0-9]{4})\b',text):
    dicc["Registration_no"]=re.findall(r'\b([A-Z]{2}[0-9A-Z]{2}[-][A-Z]{1}[-][0-9]{4})\b',text)
####chasis number
if re.findall(r'\b([A-Z0-9]{14,})\b',text):
    dicc['Chasis_no']=re.findall(r'\b([A-Z0-9]{14,})\b',text)
## Registeration Date
if re.findall(r"\d{1,2}[/-]\w{2,}[/-]\d{4}",text):
    dicc["Register_date"] = re.findall(r"\d{1,2}[/-]\w{2,}[/-]\d{4}",text)
if re.findall(r"[^\/]\d{1,2}[/]\d{4}",text):
    dicc['Manufacturing Date']=re.findall(r"[^\/]\d{1,2}[/]\d{4}",text)
for wordlist in text.split('\n'):
    xx = wordlist.split()
    if [w for w in xx if re.search('(NAME|Name)$', w)]:
        dicc['Name'] = wordlist

In [10]:
final_data1.append(dicc)

In [11]:
dicc

{'Registration_no': ['DL2CAM0993'],
 'Engine_no': ['9872010'],
 'Chasis_no': ['MALBBS1BLAM2176S7'],
 'Register_date': ['73/70/2010'],
 'Name': 'NAME  : MR. KAMAL BHOLA',
 'Manufacturing Date': ['70/2010', '210/2025']}

In [12]:
final_data2 = tuple(final_data1)

In [13]:
final_data2

({'Registration_no': ['DL2CAM0993'],
  'Engine_no': ['9872010'],
  'Chasis_no': ['MALBBS1BLAM2176S7'],
  'Register_date': ['73/70/2010'],
  'Name': 'NAME  : MR. KAMAL BHOLA',
  'Manufacturing Date': ['70/2010', '210/2025']},
 {'Registration_no': ['DL2CAM0993'],
  'Engine_no': ['9872010'],
  'Chasis_no': ['MALBBS1BLAM2176S7'],
  'Register_date': ['73/70/2010'],
  'Name': 'NAME  : MR. KAMAL BHOLA',
  'Manufacturing Date': ['70/2010', '210/2025']})

In [14]:
from xlsxwriter import Workbook
ordered_list=["Registration_no","Engine_no","Chasis_no","Register_date","Name",'Manufacturing Date'] #list object calls by index but dict object calls items randomly
wb=Workbook("Final_Output.xlsx")
ws=wb.add_worksheet("New Sheet") #or leave it blank, default name is "Sheet 1"
first_row=0
for header in ordered_list:
    col=ordered_list.index(header) # we are keeping order.
    ws.write(first_row,col,header) # we have written first row which is the header of worksheet also.
row=1
for j in final_data2: 
    #print(j)
    for _key,_value in j.items():
        col=ordered_list.index(_key)
        ws.write_row(row,col,_value)
    row+=1 #enter the next row
wb.close()

In [17]:
pd.read_excel("Final_Output.xlsx")
# Preview of Excel file

,Registration_no,Engine_no,Chasis_no,Register_date,Name,Manufacturing Date,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,DL2CAM0993,9872010,MALBBS1BLAM2176S7,73/70/2010,N,70/2010,210/2025,E,,,...,A,M,A,L,,B,H,O,L,A
1,DL2CAM0993,9872010,MALBBS1BLAM2176S7,73/70/2010,N,70/2010,210/2025,E,,,...,A,M,A,L,,B,H,O,L,A

In [16]:
import pandas as pd